* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
 }

 input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* .customModal {
  max-width: 500px;
  width: 100vw;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.customDeleteModal {
  max-width: 400px;
  width: 100vw;
  padding: 0.5rem;
  border-radius: 0.5rem;
} */